.LoadingSpinner {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MangaList {
    display: flex; 
    justify-content: center; 
}

.Pagination {
    display: flex; 
    justify-content: center;
    margin: 15px; 
}